@use "variables" as v;
@use "mixins" as m;
@use "nav-header";
@use "footer";


.checkout {
  margin-bottom: 50px;

  h2 {
    margin: 20px 0;
    text-align: center;
  }

  .delivery-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: auto;
    text-align: center;


    h3 {
      font-family: v.$secondary-font-family;
      font-size: 18px;
      margin-bottom: 15px;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 15px;

      input {
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 4px;

        &:focus {
          outline: none;
          border-color: v.$primary-color;
        }
      }

      button {
        background-color: v.$primary-color;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: darken(v.$primary-color, 10%);
          text-decoration: none; 
        }
      }
    }
  }
}


#thank-you-section {

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 30px;
  border-radius: 8px;
  width: 80%;
  margin: auto;
  height: 48vh;

  h2 {
    font-size: v.$h2-font-size;
    color: v.$primary-color;
    font-family: v.$secondary-font-family;
    margin-bottom: auto;

  }

  p {
    font-size: v.$h2-font-size;
    color: v.$primary-color;
    font-family: v.$secondary-font-family;
    margin-bottom: 20px;
  }

  button {

    background-color: black;
    color: #fff;
    padding: 15px 0;
    width: 70%;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: v.$secondary-font-family;
  
  }
}


@include m.forSize(desktop) {
  .checkout {
  
    .delivery-info {
      padding: 30px;
      width: 50%;
      margin: auto;
    }

    form {
      input,
      button {
        font-size: 18px;
      }
    }
  }

  #thank-you-section {
    width: 80%;
    height: 54vh;

    h2, p {
      font-size: 24px;
    }

    button {
      width: 40%;
      padding: 15px 0;
    }
  }
}
