@use "variables" as v;
@use "mixins" as m;

main {
  padding: 35px 0;
  width: 80%;
  margin: auto;

  .new-arrivals-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;

    h2 {
      font-size: v.$h2-font-size;
      font-family: v.$primary-font-family;
    }

    div {
      display: flex;
      align-items: center;
      gap: 15px;

      .dash {
        background-color: v.$primary-color;
        width: 30px;
        height: 1px;
      }

      a {
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        font-family: v.$primary-font-family;

        &:hover {
          font-weight: bolder;
        }
      }
    }
  }

  #homepage-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .homepage-product-card:nth-child(1),
    .homepage-product-card:nth-child(2),
    .homepage-product-card:nth-child(3),
    .homepage-product-card:nth-child(4) {
      width: 48%;
      @include m.forSize(desktop) {
        width: 22%;
      }
    }

    .homepage-product-card:nth-child(5),
    .homepage-product-card:nth-child(6),
    .homepage-product-card:nth-child(7),
    .homepage-product-card:nth-child(8) {
      width: 100%;
      @include m.forSize(desktop) {
        width: 48%;
      }
    }

    .homepage-product-card {
      display: flex;
      flex-direction: column;
      gap: 10px;
      transition: transform 0.1s ease;
      cursor: pointer;
      margin-bottom: 40px;
      width: 48%;
      @include m.forSize(desktop) {
        width: 22%;
      }

      .first-four-images {
        height: 230px;
        @include m.forSize(desktop) {
          height: 350px;
        }
      }
      .next-four-images {
        height: 300px;
        @include m.forSize(desktop) {
          height: 480px;
        }
      }

      .homepage-product-image {
        width: 100%;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
        background-color: #fff;
        object-fit: cover;
      }
      .homepage-title-price-container {
        display: flex;
        flex-direction: column;
        gap: 2px;
        font-family: v.$primary-font-family;
        .homepage-product-title {
          font-size: v.$h3-font-size;
          font-weight: 300;
          letter-spacing: 0.5px;
        }∏∏

        .homepage-product-price {
          font-size: 0.8em;
        }
      }
    }
  }
}
