@use "variables" as v; 
@use "mixins" as m;
#cart-container{
  position:fixed;
  top:0;
  right:0;
  height:100vh;
  width:100%;
  z-index: 1000;
  overflow-y: auto;
  background-color: white;

  @include m.forSize(desktop) {
    width:30%;

  }
  .cart-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  

  }
  .cart-products{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    .cart-product-container{
      display: flex;
      gap:20px;
    }

  .cart-item-image-container{
    .cart-item-image {
      width: 100px;
      height: 150px;
      object-fit: cover;
    }

  }
 
  .cart-item-info-container{
    display:flex;
    flex-direction: column;
    gap:8px;
    
  }

  .cart-action-info-container{
    display: flex;
    gap:10px;

  }
}
.cart-footer{
  display:flex;
  justify-content: space-between;
  padding: 20px;

}
.cart-checkout-button{
  width: 100%;
  font-family: v.$primary-font-family;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: v.$primary-color;
  color: v.$secondary-color;
  border: none;
  padding: 10px;
  margin-left: 0;
  cursor: pointer;

}
}
 

